header,section,footer{
        min-width: 1870px;
      }
      body{
        padding: 0;
        margin: 0;
      }
		nav{
        width:1603px;
        height:100px;
        background-color: black;
        padding-left: 300px;
        overflow: hidden;
      }
      ul{
         list-style-type: none; 
         margin-left:200px;

        }
      nav li{
        float: left; 
        margin-left: 30px;
        color: red;
        }
      .enter{
          margin-top: 15px;
          margin-left:50px;
        }
      .enroll{
          margin-top: 10px;
          width:45px;
          /*margin-left:10px;*/
        }
       nav a{
          text-decoration: none;
          line-height: 75px;
          color:white;
        }
        a:hover{
          color:red;
        }
        img{
          float: left;
          margin-top: 20px;
        }
	    #table1{
        	background-color: rgb(251,251,251);
        	width:1400px;
        	margin: auto;
          margin-top: 20px;
        	border:1px solid rgb(219,218,251);
        }
        #table1 td{
       	   height:40px;
       }
       #table1 input{
           height:25px;
       }
        #table1 span{
       	  font-weight: bold;
       }
       .circle{
       	  padding-left: 350px;
       }
       .circle img{
          margin-top: 60px;
       }
       td{
         letter-spacing:2px;
      }
      .circle_width{
        width:300px;
      }
      .circle{
        width:300px;
      }
      .circle_width1{
        width:900px;
      }
      .right1{
         text-align: right;
      }
      .right2{
         padding-left:85px;
      }
       .red1{
          background-color:rgb(215,38,44);
          font-size:15px;
          font-weight: bold;
          color:white;
          padding:28px 35px;
          text-decoration:none;
          padding-top:15px;
       }
       .red1:hover{
          color:gray;
       }
       #collect{
       	  width:1400px;
       	  height:80px;
       	  margin: auto;
          margin-top:15px;
       	  background-color: rgb(50,49,63);
       }
       .collect1{
       	  font-size:30px;
       	  color:white;
       	  line-height: 80px;
       	  padding-left: 50PX;
       }
       #photos{
          width:1360px;
          margin: auto;
          padding: 20px 20px;
          overflow: hidden;
          border:1px solid rgb(219,218,251);
        }
        #photo1{
          width:250px;
          height:300px;
          background-image: url(../images/image/40.png);
          background-repeat: no-repeat;
          display: inline-block;
          margin-left: 150px;
          vertical-align: top;
          margin-top: 20px;
        }
        #photo2,#photo3,#photo4{
          margin-top: 20px;
        }
        span{
          color:black;
          font-weight: bold;
        }
        a{
          text-decoration: none;
        }
        .span1{
          position: relative;
          top:28px;
          left:22px;
          color:white;
        }
        .span1:hover{
          color:red;
        }
        .span2:hover{
          color:red;
        }
        .span3:hover{
          color:red;
        }
        .span4:hover{
          color:red;
        }
        .span5:hover{
          color:red;
        }
        .span6:hover{
          color:red;
        }
        .span7:hover{
          color:red;
        }
        .span8:hover{
          color:red;
        }
        .span2,.span3,.span4,.span5,.span6,.span7,.span8{
          position: relative;
          top:28px;
          left:10px;
          color:white;
        }
        .span4{
          left:38px;
        }
        .span5,.span6,.span7,.span8{
          left:90px;
        }
        .black{
          width:250px;
          height:70px;
          background-color: black;
          opacity: 0.6;
          position: relative;
          top:230px;
        }
        #photo2,#photo3,#photo4,#photo5,#photo6,#photo7,#photo8{
          width:250px;
          height:300px;
          background-image: url(../images/image/6.png);
          background-repeat: no-repeat;
          display: inline-block;
          margin-left:20px;
        }
        #photo3{
          background-image: url(../images/image/7.png);
        }
        #photo4{
          background-image: url(../images/image/10.png);
        }
         #photo5{
          background-image: url(../images/image/13.png);
          margin-left: 150px;
          margin-top: 25px;
        }
        #photo6{
          background-image: url(../images/image/9.png);
        }
        #photo7{
          background-image: url(../images/image/12.png);
        }
        #photo8{
          background-image: url(../images/image/8.png);
        }
        .c1,.c2{
          width:60px;
          height:60px;
          border-radius: 30px;
          background-color: black;
          opacity: 0.6;
          position: relative;
          margin-top: 50px;
          margin-left: 10px;
      }
      .c1 img{
            position: absolute;
            top:-5px;
            left:22px;
      }
      .c2 img{
          position: absolute;
          top:-5px;
          left:22px;
      }
      .c4{
          margin-left: 180px;
      }
      .c1:hover{
          background-color:red;
      }
      .c2:hover{
          background-color:red;
      }
       .links{
       	  padding-left:750px;
       	  text-decoration:none;
       	  color:rgb(155,155,155);
       	  font-size: 25px;
       }
       .ten{
       	  margin-left: 150px;
       	  color:rgb(72,72,72);
       	  font-size: 25px;
       }
       .five{
       	  margin-left: 150px;
       	  color:rgb(72,72,72);
       	  font-size: 25px;
          margin-top: 20px;
       }
       #second img{
       	  margin-bottom: 50px;
       }
  
       #collect1{
       	  width:1400px;
       	  height:80px;
       	  margin: auto;
          margin-top:15px;
       	  background-color: rgb(50,49,63);
       	  overflow: hidden;
       	  margin-top: 50px;
       }
       #table2{
        	background-color: rgb(251,251,251);
        	width:1400px;
        	margin: auto;
          margin-top: 20px;
        	border:1px solid rgb(219,218,251);
        }
       #table2 td{
       	  height:50px;
       	  text-align: center;
       }
       .font1{
       	   color: rgb(134,134,134);
           font-size: 15px;
           font-weight: bold;
       }
       .font2{
       	   font-size: 15px;
           font-weight: bold;
       }
       .font3{
       	   color: rgb(163,163,163);
       	   font-size: 15px;
           font-weight: bold;
       }
      
       .previous_page,.next_page{
       	   border:1px solid rgb(223,223,223);
       	   width:70px;
       	   height:50px;
       	   text-align: center;
       	   line-height: 50px;
       }
       .previous_page:hover{
           border:1px solid red;
       }
       .next_page:hover{
           border:1px solid red;
       }
       .one_page{
       	   background-color: red;
       	   width:40px;
       	   height:50px;
       	   text-align: center;
       	   line-height: 50px;
       	   color:white;
       }
       .two_page{
       	   width:40px;
       	   height:50px;
       	   text-align: center;
       	   line-height: 50px;
       }
       .two_page:hover{
           background-color: red;
           color:white;
       }
       .three_page{
       	   width:40px;
       	   height:50px;
       	   text-align: center;
       	   line-height: 50px;
       }
        .three_page:hover{
            background-color: red;
            color:white;
       }
       .four_page{
       	   width:40px;
       	   height:50px;
       	   text-align: center;
       	   line-height: 50px;;
       }
       .four_page:hover{
            background-color: red;
            color:white;
       }
       .five_page{
       	   width:40px;
       	   height:50px;
       	   text-align: center;
       	   line-height: 50px;;
       }
       .fourteen_page{
       	   width:40px;
       	   height:50px;
       	   text-align: center;
       	   line-height: 50px;
       }
       .fourteen_page:hover{
            background-color: red;
            color:white;
       }
       .page1,.page2{
       	   width:40px;
       	   height:50px;
       	   text-align: center;
       	   line-height: 50px;
       }
       #pages input,.page3{
       	   border:1px solid rgb(223,223,223);
       	   width:40px;
       	   height:50px;
       	   text-align: center;
       	   line-height: 50px;
       }
       .page3:hover{
           border:1px solid red;
       }
       table li{
       	  float:left;
       	  margin-left: 30px;
       	  list-style: none;
       }
       #pages{
       	   margin-left: 150px;
       }
       
      .foot{
         width: 1553px;
         height: 200px;
    	   background-color: rgb(25,25,25); 
    	   padding-top: 150px;
    	   padding-left: 350px;
    	   font-weight: bold;
    	   margin-top: 50px;
       }
      .rgb1{
      	 color: white;
       	 text-decoration: none;
   	     margin-left: 40px;
       	 padding-top: 20px;
 
       }
      .rgb2{
     	  color: white;
        text-decoration: none;
    	  margin-left: 250px;
      	padding-top: 20px;
      }
      .upload{
        border:2px solid white;
        width:130px;
        height:35px;
        line-height: 35px;
        position: relative;
        top:170px;
        left:55px;
      }
      .upload1{
         color:white;
         margin-left:20px;
         position: relative;
         top:-300px;
         font-size:20px;
      }
      .upload1:hover{
         color:red;
      }