	
		header{
			width:1903px;
			min-width: 1903px;
			max-width: 1903px;
		}
		body{
			width:1903px; 
			margin: 0px;
			padding:0px;
		}
		nav{
        width:1603px;
        height:100px;
        background-color: black;
        padding-left: 300px;
        overflow: hidden;
      }
      ul{
         list-style-type: none; 
         margin-left:200px;

        }
      nav li{
        float: left; 
        margin-left: 10px;
        color: red;
        }
      .enter{
          margin-top: 15px;
          margin-left:50px;
        }
      .enroll{
          margin-top: 5px;
          /*margin-left:10px;*/
        }
       nav a{
          text-decoration: none;
          line-height: 75px;
          color:white;
        }
        a:hover{
          color:red;
        }
        #red1{
        	color:red;
        }
        img{
          float: left;
          margin-top: 15px;
        }
		
		#header{
			width: 300px;
			height: 30px;
			margin-left: 355px;
			font-size: 15px;
			color: rgb(152,154,151);
			font-weight:bold;
		}
		#header1{
			background-image: url(../images/3lassy.png);
			width: 991px;
			height: 565px;
			margin-top: 70px;
			margin-left: 500px;
		}
		#heagr{
			width: 1150px;
			height: 50px;
			background-color: rgb(50,49,63);
			margin-left: 425px;
			margin-top: 20px;
			padding-top: 10px;
		}
		#heagr #s1{
			color: white;
			margin-left:45px;
			width: 200px;
			font-size: 30px;
		}
		#lhm{
			width: 410px;
			height: 360px;
			margin-left: 470px;
			font-size: 23px;
			color: red;
			font-weight: bold;
			margin-top: 15px;
		}
		#lhm span{
			font-size: 18px;
			color: rgb(102,102,102);
			line-height: 30px;
		}
		#jfdr{
			width: 1240px;
			height: 220px;
			margin-left: 470px;
			margin-top: 30px;
			line-height: 30px;
			color: rgb(102,102,102);
			font-weight: bold;
			font-size: 14px;
		}
		#t1{
			width: 1201px;
			margin-left: 422px;
			margin-top: 30px;
		}
		#t1 td{
			width: 250px;
			height: 297px;
		}
		#syy{
			width: 850px;
			height: 55px;
			margin-left: 600px;
			margin-top: 50px;
		}
		#syy a{
			text-decoration: none;
			color: rgb(102,102,102);
			width: 50px;
			height: 50px;
			padding:20px;
		}
		#syy a:hover{
			background-color: red;
			color: white;
		}
		#tz{
			color: rgb(102,102,102);
		}
		#tz input{
			width:50px;
			height: 50px;
			border: 1px solid rgb(220,221,217); 
			background-color:white;
			color: rgb(102,102,102);
		}
		ul{
			margin:0;
			padding:0;
			list-style-type: none;
			overflow: hidden;
		}
		li{
			float:left;
			padding:8px 15px;
			border:1px solid black;
			margin:0 2px;
			cursor:pointer;
		}
		#gg{
			width: 900px;
			height: 440px;
			margin-left: 500px;
			margin-top: 100px;
		}
		#gg #xjl{
			width: 440px;
			height: 440px;
		}
		#dd{
			margin-left: 900px;
			margin-top: 50px;
			margin-bottom: 80px;
		}
		#t2{
			margin-left:480px;
			margin-top: 50px;
			margin-bottom: 100px;
		}
		#t2 td{
			width: 500px;
		}
		#secli{
			width: 300px;
			height: 150px;
			color: rgb(51,51,51);
		}
		#foot{
			width: 1903px;
			height: 170px;
			background-color: rgb(51,50,48);
			margin-top: 180px;
			padding-top:100px;
		}
		#foot span{
			padding:0px 15px;
			font-size: 14px;
			

		}
		#foot span a{
			text-decoration:none;
			color: white;
		}
		#foot1{
			color: white;
			font-size: 14px;
			margin-top: 15px;
			margin-left: 740px;
		}
		#foot0{
			width: 850px;
			margin-left: 520px;
		}
		#top #hs{
			color: red;
		}