
body{
	    	padding: 0;
	    	margin: 0;
	    }
        header{
        min-width: 1550px;
      }
	    #logo{
	    	width:100%;
	    	height:900px;
	    	background-image:url(../images/image/w.png);
	    	background-repeat: no-repeat;
	    }
	    #logo img{
	    	margin:50px 350px;
	    }
	    #black{
	    	width:450px;
	    	height:450px;
	    	background-color: black;
        margin:-60px 700px;
        position:relative;
        top:40px;
        right:700px;
        opacity:0.6;
	    }
	    #cover{
	    	width:450px;
	    	height:450px;
        margin:-50px 700px;
	    }
	    table{
	    	width:450px;
	    	height:450px;
	    	background-color: transparent;
	    	position: relative;
        top:-370px;

	    }
	    .size1{
	    	font-weight: bold;
	    	font-size: 30px;
	    	margin: 100px;
	    	color: white;
        position: relative;
        top:25px;
	    }
      .return{
        position: relative;
        top:25px;
        left:30px;
      }
	    table a{
    		color:white;
    		font-weight: bold;
	    }
	    input{
	    	width: 250px;
	    	height: 40px;
        margin-left:45px;
        background-color: transparent;
        padding:0px 40px;
        color:white;
        font-size:20px;
	    }
	   .red2{
	   	  width:330px;
	   	  height:45px;
        background-color:rgb(215,38,44);
        border-radius: 3px;
         /* padding: 23px 165px;*/
        margin-left: 45px;
        border:none;
       }
       .red2:hover{
       	  color:gray;
       } 
       .last{
       	  padding-left: 45px;
       }
       .no{
       	  padding-left: 55px;
       }
       .last span{
       	  color:red;
       }
       .head1{
       	  background-image: url(../images/image/20.png);
       	  background-repeat: no-repeat;
       	  background-position: left center;
       }
       .head2{
       	  background-image: url(../images/image/21.png);
       	  background-repeat: no-repeat;
       	  background-position: left center;
       }
	    .foot{
         width: 1100px;
         height: 0px;
    	   padding-top: 100px;
    	   padding-left: 450px;
    	   font-weight: bold;
    	   margin-top: 130px;
       }
      .rgb1{
      	 color: white;
       	 text-decoration: none;
   	     margin-left: 20px;
       }
      .rgb2{
     	  color: white;
        text-decoration: none;
     	  margin-left:190px;
        margin-top: -10px;
      }
      a{
      	text-decoration: none;
      }
      a:hover{
			 color: red;
		}