
		header{
			width:1903px;
			min-width: 1903px;
			max-width: 1903px;
		}
		body{
			margin: 0px;
			padding:0px;
			background-color: rgb(247,247,247);
		}
		#top{
			width: 1253px;
			height: 870px;
			background-image:url(../images/4tb.png);
			background-repeat: no-repeat;
			font-size: 15px;
			padding-top: 38px;
			padding-left:650px;
			margin-bottom: 20px;
		}
		#top span a{
			font-size: 17px;
		}
		#top a{
			text-decoration: none;
			color:white;
			padding: 3px;
			width: 50px;
			height:20px;
			padding: 10px;
		}
		#top a:hover{
			color: red;
		}
		#d1{
			position: absolute;
			top:38px;
			left:1345px;
		}
		#d2{
			padding-left: 90px;
		}
		#d2 a:hover{
			color: red;
		}
		#d3{
			position: absolute;
			top:38px;
			left:1505px;
		}
		#top1{
			margin-top: 200px;
			margin-left: -250px;
		}
		#top1a {
			width: 180px;
			font-size: 40px;
			margin-bottom: 30px;
			border-bottom: 2px solid red;
		}
		#top1 span{
			color: white;
		}
		#lj{
			width: 950px;
			height: 220px;
			margin-left: 498px;
		}
		#lj div{
			width: 297px;
			height: 220px;
		}
		#lj #zj1{
			background-image: url(../images/4cf.png);
			display: inline-block;
		}
		#lj #sx{
			background-image: url(../images/4dq.png);
			display: inline-block;
		}
		#lj #zj{
			background-image: url(../images/4dt.png);
			display: inline-block;
		}
		#lj1{
			width: 950px;
			height: 220px;
			margin-left: 497px;
		}
		#lj1 #re{
			width: 297px;
			height: 220px;
			display: inline-block;
			vertical-align: top;
			color: rgb(53,53,53);
			font-size: 10px;
			font-weight: bold;
		}
		#lj1 h2{
			font-size: 30px;
		}
		#lj3{
			width: 150px;
			height: 40px;
			border: 2px solid rgb(153,153,153);
			text-align: center;
			margin-left: 140px;margin-top: 20px;
		}
		#re a{
			text-decoration: none;
			font-size:20px;
			color:rgb(49,49,49);
			line-height: 40px;

		}#lj a{
			text-decoration: none;
			color: white;
		}
		#lj h2{
			margin-top: 180px;
			margin-left: 80px;
		}
		#sr{
			margin-top: 80px;
			margin-left: 470px;
		}
		#foot{
			width: 1903px;
			height: 170px;
			background-color: rgb(51,50,48);
			margin-top: 180px;
			padding-top:100px;
		}
		#foot span{
			padding:0px 15px;
			font-size: 14px;
			

		}
		#foot span a{
			text-decoration:none;
			color: white;
			font-weight: bold;
			margin-left: -10px;
		}
		#foot1{
			color: white;
			font-size: 14px;
			margin-top: 22px;
			margin-left: 680px;
			font-weight: bold;
		}
		#foot0{
			width: 850px;
			margin-left: 520px;
		}
		#top #hs{
			color: red;
		}
	